.reg{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Sansita Swashed", cursive;
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.center .inputbox:last-child{
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.prewatch{
    display: inline-flex;

}
.prewatch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    color: white;
    font-family: "Sansita Swashed", cursive;


}

.content{
    display: flex;
    flex-direction: column;

    min-width: 20%;
    box-shadow: 0 0 5px 2px #000000;
    background-color: #d2b914;
    margin: 5%;
    height: fit-content;

}


.tasks_list_for_date{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;

}
.tasks_list_for_date h2{
    font-family: "Sansita Swashed", cursive;
    color: #000000;
    font-weight: bold;

}

.navBar{
    display: flex;
    flex-direction: row;
    font-family: "Sansita Swashed", cursive;
    justify-content: space-between;
    align-items: center;
}

.navBar a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

#addTask{
    background-color: #01fd01;
    border-radius: 20px;
    padding: 0.5%;
}

#logout{
    background-color: #fd0101;
    border-radius: 20px;
    padding: 0.5%;
}

.content img{
    height: 40px;
    width: 40px;
}
.headTask{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}